<template>
    <v-container fluid>
        <v-select
            v-if="categories.length"
            v-model="categoryIndex"
            :items="categories"
            item-text="name"
            item-value="id"
            label="Categories"
            placeholder="Choose your interest"
            prepend-icon="mdi-post"
        />
        <v-text-field
            prepend-icon="mdi-numeric"
            v-model="questionAmount"
            type="number"
            :rules="rules"
            label="Number of questions"
        />
        <v-btn
            :disabled="categoryIndex === null || questionAmount < 1 || questionAmount > 50"
            @click="getQuestions"
        >
            Start quiz
        </v-btn>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                questionAmount: 10,
                rules: [
                    v => v > 0 || "Mininum 1 question",
                    v => v < 51 || "Maximum 50 questions",
                    v => !!v || "Required"
                ],
                categoryIndex: null,
                categories: [],
            };
        },
        created(){
            this.getCategories();
        },
        methods: {
            getCategories(){
                this.$emit('isLoading', true);
                fetch('https://opentdb.com/api_category.php', {
                    method: 'get'
                }).then((response)=> {
                    this.$emit('isLoading', false);
                    return(response.json());
                }).then((jsonData)=> {
                    this.categories = jsonData.trivia_categories;

                });
            },
            getQuestions(){
                this.$emit('isLoading', true);
                fetch(`https://opentdb.com/api.php?amount=${this.questionAmount}&category=${this.categoryIndex}&&type=multiple`,{
                    method: 'get'
                }).then((response)=>{
                    this.$emit('isLoading', false);
                    return(response.json());
                }).then((jsonData)=> {
                    this.$emit('input', jsonData.results);
                });
            },
        },

    };
</script>