<template>
    <v-container fluid>
        <v-app-bar
            app
            dark
        >
            <v-icon size="32">
                mdi-cloud-question
            </v-icon>
            <v-toolbar-title>
                Quiz
            </v-toolbar-title>
            <v-spacer />
            <v-toolbar-title>
                Counter: {{ numCorrect }}/{{ numTotal }}
            </v-toolbar-title>
        </v-app-bar>
    </v-container>
</template>

<script>
    export default {
        props: {
            numCorrect: {
                type: Number,
                default: 0
            },
            numTotal: {
                type: Number,
                default: 0
            }
        }
    };
</script>

<style scoped>
    .v-icon {
        margin: 0 10px 0 0;
    }
</style>