<template>
    <v-container fluid>
        <div>
            <v-icon :color="difficultyColor">
                mdi-star
            </v-icon>
            <h1 v-html="currentQuestion.question">
                {{ currentQuestion.question }}
            </h1>
        </div>
        <v-list-item-group v-model="selectedIndex">
            <v-list-item
                v-for="(answer,index) in shuffledAnswers"
                :key="answer"
                :class="answerClass(index)"
                :disabled="answered"
            >
                <v-list-item-content>
                    <v-list-item-title
                        v-html="answer"
                    >
                        {{ answer }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list-item-group>
        <v-btn
            @click="submitAnswer"
            :disabled="selectedIndex === null || selectedIndex === undefined || answered"
        >
            Submit
        </v-btn>
        <v-btn
            @click="$emit('nextEvent')"
            :disabled="!answered"
        >
            Next
        </v-btn>
    </v-container>
</template>

<script>
    export default {
        props: {
            currentQuestion: {
                type: Object,
                default: null
            }
        },
        data(){
            return {
                selectedIndex: null,
                correctIndex: null,
                shuffledAnswers: [],
                answered: false
            };
        },
        computed: {
            difficultyColor(){
                let color;
                switch( this.currentQuestion.difficulty ){
                case "easy":
                    color = "green lighten-1";
                    break;
                case "medium":
                    color ="orange lighten-1";
                    break;
                case "hard":
                    color = "red lighten-1";
                    break;
                default:
                }
                return color;
            }
        },
        watch: {
            currentQuestion: {
                immediate: true,
                handler() {
                    this.selectedIndex = null;
                    this.shuffleAnswers();
                    this.answered = false;
                }
            }
        },
        methods: {
            shuffleAnswers(){
                let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer];
                for(let i = answers.length - 1; i > 0; i--){
                    const j = Math.floor(Math.random() * answers.length);
                    const temp = answers[i];
                    answers[i] = answers[j];
                    answers[j] = temp;
                }
                this.correctIndex = answers.indexOf(this.currentQuestion.correct_answer);
                this.shuffledAnswers = answers;
            },
            submitAnswer(){
                let isCorrect = false;
                if ( this.selectedIndex === this.correctIndex ){
                    isCorrect = true;
                }
                this.answered = true;
                this.$emit('increment', isCorrect);
            },
            answerClass(index) {
                let answerClass = '';
                if( this.answered && this.correctIndex === index) {
                    answerClass = 'correct';
                }
                if( this.answered && this.selectedIndex === index && this.correctIndex !== index ) {
                    answerClass = 'incorrect';
                }
                return answerClass;
            }
        }
    };
</script>

<style scoped>
    .v-list-item-group {
        margin: 15px 0;
    }
    .v-list-item {
        margin: 2px 0;
    }
    .v-icon {
        margin-right: 10px;
    }
    h1 {
        display: inline;
        vertical-align: middle;
    }
    .correct {
        background-color: lightgreen
    }
    .incorrect {
        background-color: lightcoral;
    }
</style>