<template>
    <v-container fluid>
        <h1>Congratulations! Your score is: {{ numCorrect }}/{{ numTotal }}</h1>
        <v-btn @click="$emit('resetQuiz')">
            Try Again
        </v-btn>
        <v-btn @click="$emit('newQuiz')">
            New Quiz
        </v-btn>
    </v-container>
</template>

<script>
    export default {
        props: {
            numCorrect: {
                type: Number,
                default: 0
            },
            numTotal: {
                type: Number,
                default: 0
            }
        }
    };
</script>