<template>
    <v-app>
        <Header
            :num-correct="numCorrect"
            :num-total="numTotal"
        />
        <v-content>
            <Loader
                v-show="showLoader"
            />
            <Categories
                v-if="!questions.length"
                v-show="!showLoader"
                v-model="questions"
                @isLoading="isLoading"
            />
            <QuestionBox
                v-if="questions.length && !quizFinished"
                :current-question="questions[questionIndex]"
                @nextEvent="next"
                @increment="increment"
            />
            <QuizResults
                v-if="quizFinished"
                :num-correct="numCorrect"
                :num-total="numTotal"
                @resetQuiz="resetQuiz"
                @newQuiz="newQuiz"
            />
        </v-content>
    </v-app>
</template>

<script>
    import Header from './components/Header';
    import Loader from './components/Loader';
    import Categories from './components/Categories';
    import QuestionBox from './components/QuestionBox';
    import QuizResults from "./components/QuizResults";

    export default {
        name: 'App',

        components: {
            Header,
            Loader,
            Categories,
            QuestionBox,
            QuizResults,
        },
        data(){
            return {
                questions: [],
                questionIndex: 0,
                numCorrect: 0,
                numTotal: 0,
                quizFinished: false,
                showLoader: false,
            };
        },
        methods: {
            isLoading($event){
                this.showLoader = $event;
            },
            next() {
                if(this.questionIndex < this.questions.length - 1){
                    this.questionIndex ++;
                } else {
                    this.quizFinished = true;
                }
            },
            increment($event) {
                if($event) {
                    this.numCorrect ++;
                }
                this.numTotal++;
            },
            resetQuiz(){
                this.questionIndex = 0;
                this.numCorrect = 0;
                this.numTotal = 0;
                this.quizFinished = false;
            },
            newQuiz(){
                this.questions = [];
                this.resetQuiz();
            },
        }
    };
</script>

<style>
    h1 {
        font-size: 20px;
    }
    .v-btn {
        margin: 20px 10px;
    }
    .v-btn:first-of-type {
        margin-left: 0;
    }
</style>